@charset "UTF-8";
#canvas-container {
    width: 100%;
    min-height: 300px;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.filter-button.active {
    background-color: black;
    color: white;
}
.ratio-button.active {
    background-color: black;
    color: white;
}